@font-face {
    src: url('../font/Orbitron-VariableFont_wght.ttf');
}

Button {
    -fx-background-color: transparent;
    -fx-padding: 10 10 10 10;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10, 0.5 , 2 , 2 );
    -fx-text-fill: linear-gradient(repeat, white 50%, yellow 70%);
    -fx-font: 16px "Orbitron";
}

Button:hover {
    -fx-background-color: transparent;
    -fx-padding: 10 10 10 10;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10, 0.5 , 2 , 2 );
    -fx-text-fill: linear-gradient(repeat, white 50%, yellow 70%);
    -fx-font: 24px "Orbitron";
}