@font-face {
    src: url('../font/Orbitron-VariableFont_wght.ttf');
}

.pane {
	-fx-background-image: url("../imgs/final-bg.jpg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
}

#playerNameLabel1{
    -fx-text-fill: linear-gradient(repeat, white 50%, yellow 70%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10, 0.5 , 2 , 2 );
    -fx-font: 40px "Orbitron";
}

#VSlabel{
    -fx-text-fill: linear-gradient(repeat, white 50%, yellow 70%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10, 0.5 , 2 , 2 );
    -fx-font: 40px "Orbitron";
}

#playerNameLabel2{
    -fx-text-fill: linear-gradient(repeat, white 50%, yellow 70%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10, 0.5 , 2 , 2 );
    -fx-font: 40px "Orbitron";
}

#shipArmyLabel{
    -fx-text-fill: linear-gradient(repeat, white 50%, yellow 70%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10, 0.5 , 2 , 2 );
    -fx-font: 20px "Orbitron";
}
#formation{
    -fx-text-fill: linear-gradient(repeat, white 50%, yellow 70%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10, 0.5 , 2 , 2 );
    -fx-font: 20px "Orbitron";
}
#shipleft{
    -fx-text-fill: linear-gradient(repeat, white 50%, yellow 70%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10, 0.5 , 2 , 2 );
    -fx-font: 20px "Orbitron";
}
#numOfShipLeftLabel{
    -fx-text-fill: linear-gradient(repeat, white 50%, yellow 70%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10, 0.5 , 2 , 2 );
    -fx-font: 20px "Orbitron";
}

Label{
    -fx-text-fill: linear-gradient(repeat, white 50%, yellow 70%);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10, 0.5 , 2 , 2 );
    -fx-font: 12px "Orbitron";
}

Button {
    -fx-background-color: transparent;

    -fx-padding: 10 10 10 10;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10, 0.5 , 2 , 2 );
    -fx-text-fill: linear-gradient(repeat, white 50%, yellow 70%);
    -fx-font: 20px "Orbitron";
}

Button:hover {
    -fx-background-color: black;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 200%, repeat, silver 30%, snow 70%);
    -fx-border-width: 6, 9;
    -fx-border-radius: 2, 3, 2, 2, 2;
    -fx-border-style: solid, segments(1, 2);
    -fx-padding: 10 10 0 10;
    -fx-text-fill: white;
    -fx-font: 22px "Orbitron";
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10, 0.5 , 2 , 2 );
}